@font-face {
  font-family: 'roboto-black';
  src: url("/fonts/Roboto-Black.woff2") format("woff2"), url("/fonts/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-bold';
  src: url("/fonts/Roboto-Bold.woff2") format("woff2"), url("/fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-medium';
  src: url("/fonts/Roboto-Medium.woff2") format("woff2"), url("/fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-regular';
  src: url("/fonts/Roboto-Regular.woff2") format("woff2"), url("/fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'raleway';
  src: url("/fonts/raleway-v19-latin-700.woff2") format("woff2"), url("/fonts/raleway-v19-latin-700.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  --main-cl: #ffffff;
  --main-txt-cl: #757575;
  --title-cl: #212121;
  --accent-cl: #2196f3;
  --dark-bg-cl: #2f303a;
  --team-button-bg: #f5f4fa;
  --footer-link-cl: rgba(255, 255, 255, 0.6);
  --icon-color: #afb1b8;
  --line-cl: #ececec;
  --overlay-bg: rgba(33, 150, 243, 0.9);
  --modal-bg: rgba(0, 0, 0, 0.2);
  --border-form: rgba(33, 33, 33, 0.2);
  --placeholder-color: rgba(117, 117, 117, 0.5);
  --header__logo-color: black;
  --main-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

p {
  margin-bottom: 0;
}

h2,
h3 {
  color: var(--title-cl);
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  color: var(--title-cl);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: var(--accent-cl);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}

body.modal-open {
  overflow: hidden;
}

body.is-open {
  overflow: hidden;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.contacts__list {
  display: none;
}

@media screen and (min-width: 768px) {
  .contacts__list {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__list {
    flex-direction: row;
  }
}

.contacts__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .contacts__item {
    margin-left: 0;
  }
  .contacts__item:nth-child(1) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item:nth-child(1) {
    margin-bottom: 0px;
  }
  .contacts__item:not(:first-child) {
    margin-left: 30px;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  color: var(--main-txt-cl);
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.contacts__list--column {
  width: 100%;
}

@media screen and (max-width: 1199px) {
  .contacts__list--column {
    text-align: center;
  }
}

.contacts__item--column:not(:last-child) {
  margin-bottom: 9px;
}

.contacts__link--column {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-link-cl);
}

.nav {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav__menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav__menu {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__logo, .footer__logo {
  margin-right: 93px;
}

.nav__link--active {
  color: var(--accent-cl);
  position: relative;
}

.nav__link--active::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background: var(--accent-cl);
  border-radius: 2px;
  position: absolute;
  top: 49px;
}

.nav__logo, .footer__logo {
  display: block;
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-cl);
  text-decoration: none;
}

.nav__logo--black {
  color: var(--header__logo-color);
}

.footer__logo--white {
  color: var(--main-cl);
}

@media screen and (max-width: 1199px) {
  .footer__logo {
    text-align: center;
    margin-bottom: 20px;
    margin-right: 0;
    margin-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer__logo {
    margin-bottom: 20px;
  }
}

.button {
  display: block;
  min-width: 200px;
  min-height: 50px;
  background-color: var(--accent-cl);
  color: var(--main-cl);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.mailling__btn {
  display: flex;
  align-items: center;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.7;
  background-color: var(--accent-cl);
  color: var(--main-cl);
  box-shadow: 0px 4px 4px rgba(146, 104, 104, 0.15);
  border-radius: 4px;
  padding: 10px 28px 10px 29px;
  margin-left: 12px;
}

@media screen and (max-width: 1199px) {
  .mailling__btn {
    margin-right: 0;
    margin-left: 0;
    margin-top: 20px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-bg);
  z-index: 100;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 479px) {
  .backdrop {
    padding-right: auto;
    padding-left: auto;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: var(--main-cl);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__box {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
}

.contact-form__field {
  position: relative;
  margin-bottom: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__field:focus-within, .contact-form__field:hover {
  fill: var(--accent-cl);
}

.contact-form__comment {
  margin-bottom: 20px;
}

.contact-form__message {
  display: block;
  width: 100%;
  height: 120px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
}

.contact-form__message:placeholder-shown {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--placeholder-color);
  padding-top: 12px;
  padding-left: 16px;
}

@media screen and (min-width: 1200px) {
  .contact-form__message:placeholder-shown {
    font-size: 12px;
    line-height: 1.17;
  }
}

.contact-form__message:not(:placeholder-shown) {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-txt-cl);
  padding-top: 12px;
  padding-left: 16px;
}

.contact-form__label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.contact-form__input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-text-fill-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__input:-webkit-autofill, .contact-form__input:-webkit-autofill:hover, .contact-form__input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--main-txt-cl);
  box-shadow: 0 0 0px 1000px var(--main-cl) inset;
}

.contact-form__input:focus, .contact-form__input:hover {
  outline-style: none;
  border: 1px solid var(--accent-cl);
  border-radius: 4px;
  cursor: pointer;
}

.contact-form__icons {
  position: absolute;
  display: inline-block;
  top: 29px;
  left: 12px;
}

.contact-form__message {
  border-color: var(--border-form);
  border-radius: 4px;
}

.contact-form__message:focus, .contact-form__message:hover {
  outline-style: none;
  border: 1px solid var(--accent-cl);
  border-radius: 4px;
  cursor: pointer;
}

.contact-form__checkbox-label {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .contact-form__checkbox-label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.contact-form__checkbox-label::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid var(--icon-color);
  border-radius: 3px;
  margin-right: 8px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__checkbox:checked + .contact-form__checkbox-label::before {
  background-image: url(../images/icon-vector-checkbox.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: var(--accent-cl);
  border-color: var(--accent-cl);
  margin-right: 8px;
}

.contact-form__checkbox:focus + .contact-form__checkbox-label::before,
.contact-form__checkbox:hover + .contact-form__checkbox-label::before {
  border: 1px solid var(--accent-cl);
  cursor: pointer;
}

.contact-form__checkbox-link {
  color: var(--accent-cl);
}

.contact-form__submit {
  margin-top: 31px;
}

@media screen and (min-width: 1200px) {
  .contact-form__submit {
    margin-top: 30px;
  }
}

.modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--main-cl);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn-close:hover, .modal__btn-close:focus {
  cursor: pointer;
  fill: var(--accent-cl);
}

.modal__btn-close-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social {
  display: flex;
  justify-content: center;
}

.social__item {
  width: 44px;
  height: 44px;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--main-cl);
  color: var(--icon-color);
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  background-color: var(--accent-cl);
  color: var(--main-cl);
}

.social-link--grey {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--main-cl);
}

.social__icon {
  fill: currentColor;
}

.mobile-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  background-color: var(--main-cl);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  padding-top: 48px;
  padding-right: 83px;
  padding-left: 40px;
  padding-bottom: 48px;
  z-index: 97;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  left: 0;
}

.mobile-menu__btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 98;
}

@media screen and (min-width: 768px) {
  .mobile-menu__btn {
    display: none;
  }
}

.mobile-menu__btn:hover, .mobile-menu__btn:focus {
  fill: var(--accent-cl);
}

.menu-btn__icon-close {
  display: none;
}

.is-open .menu-btn__icon-close {
  display: block;
}

.is-open .menu-btn__icon-menu {
  display: none;
}

.is-open .mobile-menu__btn:hover,
.is-open .mobile-menu__btn:focus {
  fill: var(--accent-cl);
}

.nav__item--mobile:not(:last-child) {
  margin-bottom: 32px;
}

.nav__link--mobile {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
}

.nav__link--mobile-active {
  color: var(--accent-cl);
}

.contacts__item--mobile:nth-child(1) {
  margin-bottom: 30px;
}

.contacts__item--mobile:nth-child(2) {
  margin-bottom: 64px;
}

.contacts__link--mobile, .contacts__link--mobile-tel {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--contacts-link-cl);
}

.contacts__link--mobile-tel {
  font-size: 34px;
  line-height: 1.18;
  color: var(--accent-cl);
}

.social__list--mobile {
  display: flex;
}

@media screen and (max-width: 479px) {
  .social__list--mobile {
    flex-direction: column;
  }
}

.social__item--mobile:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid var(--border-form);
}

.social__item--mobile:not(:first-child) {
  padding-left: 10px;
}

@media screen and (max-width: 479px) {
  .social__item--mobile:not(:first-child) {
    padding-right: 0;
    padding-left: 0;
    padding-top: 10px;
    border: none;
  }
}

.social__link--mobile {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-cl);
}

.hero__title {
  font-size: 26px;
  line-height: 1.61;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-cl);
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1199px) {
  .hero__title {
    max-width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.modal__title {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 0;
}

@media screen and (min-width: 1200px) {
  .modal__title {
    line-height: 1.3;
  }
}

.advantages__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.services__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

@media screen and (min-width: 480px) {
  .team__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.team__title-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}

.team__position {
  font-size: 16px;
  line-height: 1.19;
  color: var(--main-txt-cl);
  margin-bottom: 16px;
}

.clients__title {
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.portfolio__title {
  color: var(--title-cl);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  text-align: left;
}

.mailling__title {
  width: 100%;
  text-align: left;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-cl);
  margin-bottom: 20px;
}

@media screen and (max-width: 1199px) {
  .mailling__title {
    text-align: center;
  }
}

.follow__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-cl);
  margin-bottom: 20px;
}

@media screen and (max-width: 1199px) {
  .follow__title {
    text-align: center;
  }
}

.header {
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--line-cl);
}

@media screen and (max-width: 480px) {
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 21px;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 1200px) {
  .header__container {
    justify-content: space-between;
    align-items: center;
  }
}

.hero {
  background-color: var(--dark-bg-cl);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

@media screen and (max-width: 480px) {
  .hero {
    background-color: var(--dark-bg-cl);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/gallery/mobile/hero/hero.jpg");
  }
}

@media screen and (max-width: 480px) and (min-device-pixel-ratio: 2), screen and (max-width: 480px) and (min-resolution: 192dpi), screen and (max-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/gallery/mobile/hero/hero@2x.jpg");
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/gallery/tablet/hero/hero.jpg");
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (max-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (max-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/gallery/tablet/hero/hero@2x.jpg");
  }
}

@media screen and (min-width: 769px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/gallery/desktop/hero/hero.jpg");
  }
}

@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/gallery/desktop/hero/hero@2x.jpg");
  }
}

.hero__content {
  padding-top: 200px;
  padding-bottom: 200px;
}

.advantages {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .advantages {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages__img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--team-button-bg);
  height: 120px;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .advantages__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .advantages__item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .advantages__item:nth-child(odd) {
    margin-right: 30px;
  }
  .advantages__item:nth-child(-n+2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__item {
    flex-basis: calc((100% - 3 * 30px) / 4);
  }
  .advantages__item:not(:last-child) {
    margin-right: 30px;
  }
}

.services {
  padding-bottom: 94px;
  padding-top: 0;
}

@media screen and (max-width: 1199px) {
  .services {
    display: none;
  }
}

.services__list {
  display: flex;
}

.services__item {
  flex-basis: calc((100% - 60px) / 3);
}

.services__item:not(:last-child) {
  margin-right: 30px;
}

.services__thumb {
  position: relative;
}

.services__label {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  color: var(--main-cl);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
}

.team {
  width: 100%;
  background-color: var(--team-button-bg);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .team_list {
    display: flex;
    flex-wrap: wrap;
  }
}

.team__item {
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--main-cl);
  margin-bottom: 30px;
}

.team__item:last-child {
  margin-bottom: 0px;
}

@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .team__item:nth-child(odd) {
    margin-right: 30px;
  }
  .team__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 3 * 30px) / 4);
    margin-bottom: 0;
  }
  .team__item:not(:last-child) {
    margin-right: 30px;
  }
}

.team__info {
  padding-top: 30px;
  padding-bottom: 30px;
}

.clients {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1199px) {
  .clients__list {
    flex-wrap: wrap;
  }
}

.clients__item {
  height: 92px;
  margin-bottom: 30px;
  margin-right: 30px;
}

@media screen and (max-width: 767px) {
  .clients__item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .clients__item:nth-child(even) {
    margin-right: 0;
  }
  .clients__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 60px) / 3);
  }
  .clients__item:nth-child(3n) {
    margin-right: 0;
  }
  .clients__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    margin-bottom: 0;
  }
  .clients__item:not(:last-child) {
    margin-right: 30px;
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  color: var(--icon-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  color: var(--accent-cl);
  border-color: var(--accent-cl);
}

.clients__icon {
  fill: currentColor;
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.filter__list {
  display: flex;
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .filter__list {
    flex-wrap: wrap;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .filter__list {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filter__list {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 480px) {
  .filter__item:not(:last-child) {
    margin-right: 8px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 767px) {
  .filter__item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__btn {
  background-color: var(--team-button-bg);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-cl);
  cursor: pointer;
  border-radius: 4px;
  border-color: transparent;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__btn--active {
  outline: var(--accent-cl);
  background-color: var(--accent-cl);
  color: var(--main-cl);
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter__btn--active {
  background-color: var(--accent-cl);
  color: var(--main-cl);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .portfolio__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.portfolio__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .portfolio__item {
    flex-basis: calc((100% - 30px) / 2);
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .portfolio__item:nth-child(even) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__item {
    flex-basis: calc((100% - 2 * 30px) / 3);
  }
  .portfolio__item:nth-child(3n) {
    margin-right: 0;
  }
  .portfolio__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.portfolio__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__link:hover .portfolio__overlay,
.portfolio__link:focus .portfolio__overlay {
  opacity: 1;
  transform: translateY(0);
}

.portfolio__box {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--main-cl);
  background: var(--overlay-bg);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  width: 100%;
  height: 100%;
  opacity: 0;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__info {
  flex-grow: 1;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 20px 24px;
}

.portfolio__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}

.footer {
  background-color: var(--dark-bg-cl);
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  font-style: inherit;
  color: var(--contacts-link-cl);
}

@media screen and (max-width: 767px) {
  .footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__tablet-box {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__tablet-box {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer__tablet-box {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .footer__left {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 1199px) {
  .address {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.address__mail {
  color: var(--main-cl);
  margin-bottom: 9px;
}

@media screen and (min-width: 1200px) {
  .follow {
    margin-left: 70px;
  }
}

@media screen and (max-width: 1199px) {
  .mailling__box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .mailling__box {
    display: flex;
    justify-content: flex-end;
    width: 570px;
  }
}

.mailling__input {
  height: 50px;
  display: inline-block;
  width: 358px;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--contacts-link-cl);
  background-color: var(--dark-bg-cl);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin: 0;
  padding-left: 16px;
}

@media screen and (max-width: 480px) {
  .mailling__input {
    width: calc(100vw - 30px);
  }
}

.mailling__input:-webkit-autofill, .mailling__input:-webkit-autofill:hover, .mailling__input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--main-cl);
  box-shadow: 0 0 0px 1000px var(--dark-bg-cl) inset;
}

.mailling__input:not(:placeholder-shown) {
  color: var(--main-cl);
}

.mailling-icon {
  display: block;
  fill: var(--main-cl);
  margin-left: 10px;
}
/*# sourceMappingURL=main.css.map */