:root {
  --main-cl: #ffffff;
  --main-txt-cl: #757575;
  --title-cl: #212121;
  --accent-cl: #2196f3;
  --dark-bg-cl: #2f303a;
  --team-button-bg: #f5f4fa;
  --footer-link-cl: rgba(255, 255, 255, 0.6);
  --icon-color: #afb1b8;
  --line-cl: #ececec;
  --overlay-bg: rgba(33, 150, 243, 0.9);
  --modal-bg: rgba(0, 0, 0, 0.2);
  --border-form: rgba(33, 33, 33, 0.2);
  --placeholder-color: rgba(117, 117, 117, 0.5);
  --header__logo-color: black;
  --main-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
}