<section class="portfolio">
  <div class="container portfolio__container">
    <h1 class="visually-hidden">Projects</h1>
    <ul class="filter__list controls">
      <li id="btnAll" class="filter__item controls__item">
        <button type="button" class="filter__btn filter__btn--active">Все</button>
      </li>
      <li id="btnWebSite" class="filter__item controls__item">
        <button type="button" class="filter__btn">Веб-сайты</button>
      </li>
      <li id="btnApp" class="filter__item controls__item">
        <button type="button" class="filter__btn">Приложения</button>
      </li>
      <li id="btnDesign" class="filter__item controls__item">
        <button type="button" class="filter__btn">Дизайн</button>
      </li>
      <li id="btnMarketing" class="filter__item controls__item">
        <button type="button" class="filter__btn">Маркетинг</button>
      </li>
    </ul>
    <ul class="portfolio__list">
      <li class="portfolio__item">
        <a class="portfolio__link" href="">
          <div class="portfolio__box">
            <picture>
              <source
                srcset="
                  ./images/gallery/desktop/portfolio/portfolio1.webp    1x,
                  ./images/gallery/desktop/portfolio/portfolio1@2x.webp 2x
                "
                media="(min-width:1200px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/desktop/portfolio/portfolio1.jpg    1x,
                  ./images/gallery/desktop/portfolio/portfolio1@2x.jpg 2x
                "
                media="(min-width:1200px)"
                type="image/jpeg"
              />

              <source
                srcset="
                  ./images/gallery/tablet/portfolio/portfolio1.webp    1x,
                  ./images/gallery/tablet/portfolio/portfolio1@2x.webp 2x
                "
                media="(min-width:768px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/tablet/portfolio/portfolio1.jpg    1x,
                  ./images/gallery/tablet/portfolio/portfolio1@2x.jpg 2x
                "
                media="(min-width:768px)"
                type="image/jpeg"
              />

              <source
                srcset="
                  ./images/gallery/mobile/portfolio/portfolio1.webp    1x,
                  ./images/gallery/mobile/portfolio/portfolio1@2x.webp 2x
                "
                media="(max-width:767.98px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/mobile/portfolio/portfolio1.jpg    1x,
                  ./images/gallery/mobile/portfolio/portfolio1@2x.jpg 2x
                "
                media="(max-width:767.98px)"
                type="image/jpeg"
              />

              <img
                src="./images/gallery/mobile/portfolio/portfolio1.jpg"
                alt="ноутбук со страницей веб-студии"
                width="370"
              />
            </picture>

            <div class="portfolio__overlay">
              <p>
                Технокряк это современная площадка распространения коронавируса. Компании используют эту платформу для
                цифрового шпионажа и атак на защищённые сервера конкурентов.
              </p>
            </div>
          </div>
          <div class="portfolio__info">
            <h2 class="portfolio__title">Технокряк</h2>
            <p class="portfolio__text">Веб-сайт</p>
          </div>
        </a>
      </li>
      <li class="portfolio__item">
        <a class="portfolio__link" href="">
          <div class="portfolio__box">
            <picture>
              <source
                srcset="
                  ./images/gallery/desktop/portfolio/portfolio2.webp    1x,
                  ./images/gallery/desktop/portfolio/portfolio2@2x.webp 2x
                "
                media="(min-width:1200px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/desktop/portfolio/portfolio2.jpg    1x,
                  ./images/gallery/desktop/portfolio/portfolio2@2x.jpg 2x
                "
                media="(min-width:1200px)"
                type="image/jpeg"
              />

              <source
                srcset="
                  ./images/gallery/tablet/portfolio/portfolio2.webp    1x,
                  ./images/gallery/tablet/portfolio/portfolio2@2x.webp 2x
                "
                media="(min-width:768px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/tablet/portfolio/portfolio2.jpg    1x,
                  ./images/gallery/tablet/portfolio/portfolio2@2x.jpg 2x
                "
                media="(min-width:768px)"
                type="image/jpeg"
              />

              <source
                srcset="
                  ./images/gallery/mobile/portfolio/portfolio2.webp    1x,
                  ./images/gallery/mobile/portfolio/portfolio2@2x.webp 2x
                "
                media="(max-width:767.98px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/mobile/portfolio/portfolio2.jpg    1x,
                  ./images/gallery/mobile/portfolio/portfolio2@2x.jpg 2x
                "
                media="(max-width:767.98px)"
                type="image/jpeg"
              />

              <img src="./images/gallery/mobile/portfolio/portfolio2.jpg" alt="два баскетболиста с мячом" width="370" />
            </picture>
            <div class="portfolio__overlay">
              <p>
                Технокряк это современная площадка распространения коронавируса. Компании используют эту платформу для
                цифрового шпионажа и атак на защищённые сервера конкурентов.
              </p>
            </div>
          </div>
          <div class="portfolio__info">
            <h2 class="portfolio__title">Постер New Orlean vs Golden Star</h2>
            <p class="portfolio__text">Дизайн</p>
          </div>
        </a>
      </li>
      <li class="portfolio__item">
        <a class="portfolio__link" href="">
          <div class="portfolio__box">
            <picture>
              <source
                srcset="
                  ./images/gallery/desktop/portfolio/portfolio3.webp    1x,
                  ./images/gallery/desktop/portfolio/portfolio3@2x.webp 2x
                "
                media="(min-width:1200px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/desktop/portfolio/portfolio3.jpg    1x,
                  ./images/gallery/desktop/portfolio/portfolio3@2x.jpg 2x
                "
                media="(min-width:1200px)"
                type="image/jpeg"
              />

              <source
                srcset="
                  ./images/gallery/tablet/portfolio/portfolio3.webp    1x,
                  ./images/gallery/tablet/portfolio/portfolio3@2x.webp 2x
                "
                media="(min-width:768px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/tablet/portfolio/portfolio3.jpg    1x,
                  ./images/gallery/tablet/portfolio/portfolio3@2x.jpg 2x
                "
                media="(min-width:768px)"
                type="image/jpeg"
              />

              <source
                srcset="
                  ./images/gallery/mobile/portfolio/portfolio3.webp    1x,
                  ./images/gallery/mobile/portfolio/portfolio3@2x.webp 2x
                "
                media="(max-width:767.98px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/mobile/portfolio/portfolio3.jpg    1x,
                  ./images/gallery/mobile/portfolio/portfolio3@2x.jpg 2x
                "
                media="(max-width:767.98px)"
                type="image/jpeg"
              />

              <img src="./images/gallery/mobile/portfolio/portfolio3.jpg" alt="рыба с логотипом" width="370" />
            </picture>
            <div class="portfolio__overlay">
              <p>
                Технокряк это современная площадка распространения коронавируса. Компании используют эту платформу для
                цифрового шпионажа и атак на защищённые сервера конкурентов.
              </p>
            </div>
          </div>
          <div class="portfolio__info">
            <h2 class="portfolio__title">Ресторан Seafood</h2>
            <p class="portfolio__text">Приложение</p>
          </div>
        </a>
      </li>
      <li class="portfolio__item">
        <a class="portfolio__link" href="">
          <div class="portfolio__box">
            <picture>
              <source
                srcset="
                  ./images/gallery/desktop/portfolio/portfolio4.webp    1x,
                  ./images/gallery/desktop/portfolio/portfolio4@2x.webp 2x
                "
                media="(min-width:1200px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/desktop/portfolio/portfolio4.jpg    1x,
                  ./images/gallery/desktop/portfolio/portfolio4@2x.jpg 2x
                "
                media="(min-width:1200px)"
                type="image/jpeg"
              />

              <source
                srcset="
                  ./images/gallery/tablet/portfolio/portfolio4.webp    1x,
                  ./images/gallery/tablet/portfolio/portfolio4@2x.webp 2x
                "
                media="(min-width:768px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/tablet/portfolio/portfolio4.jpg    1x,
                  ./images/gallery/tablet/portfolio/portfolio4@2x.jpg 2x
                "
                media="(min-width:768px)"
                type="image/jpeg"
              />

              <source
                srcset="
                  ./images/gallery/mobile/portfolio/portfolio4.webp    1x,
                  ./images/gallery/mobile/portfolio/portfolio4@2x.webp 2x
                "
                media="(max-width:767.98px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/mobile/portfolio/portfolio4.jpg    1x,
                  ./images/gallery/mobile/portfolio/portfolio4@2x.jpg 2x
                "
                media="(max-width:767.98px)"
                type="image/jpeg"
              />

              <img src="./images/gallery/mobile/portfolio/portfolio4.jpg" alt="наушники" width="370" />
            </picture>
            <div class="portfolio__overlay">
              <p>
                Технокряк это современная площадка распространения коронавируса. Компании используют эту платформу для
                цифрового шпионажа и атак на защищённые сервера конкурентов.
              </p>
            </div>
          </div>
          <div class="portfolio__info">
            <h2 class="portfolio__title">Проект Prime</h2>
            <p class="portfolio__text">Маркетинг</p>
          </div>
        </a>
      </li>
      <li class="portfolio__item">
        <a class="portfolio__link" href="">
          <div class="portfolio__box">
            <picture>
              <source
                srcset="
                  ./images/gallery/desktop/portfolio/portfolio5.webp    1x,
                  ./images/gallery/desktop/portfolio/portfolio5@2x.webp 2x
                "
                media="(min-width:1200px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/desktop/portfolio/portfolio5.jpg    1x,
                  ./images/gallery/desktop/portfolio/portfolio5@2x.jpg 2x
                "
                media="(min-width:1200px)"
                type="image/jpeg"
              />

              <source
                srcset="
                  ./images/gallery/tablet/portfolio/portfolio5.webp    1x,
                  ./images/gallery/tablet/portfolio/portfolio5@2x.webp 2x
                "
                media="(min-width:768px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/tablet/portfolio/portfolio5.jpg    1x,
                  ./images/gallery/tablet/portfolio/portfolio5@2x.jpg 2x
                "
                media="(min-width:768px)"
                type="image/jpeg"
              />

              <source
                srcset="
                  ./images/gallery/mobile/portfolio/portfolio5.webp    1x,
                  ./images/gallery/mobile/portfolio/portfolio5@2x.webp 2x
                "
                media="(max-width:767.98px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/mobile/portfolio/portfolio5.jpg    1x,
                  ./images/gallery/mobile/portfolio/portfolio5@2x.jpg 2x
                "
                media="(max-width:767.98px)"
                type="image/jpeg"
              />

              <img src="./images/gallery/mobile/portfolio/portfolio5.jpg" alt="две коробки" width="370" />
            </picture>
            <div class="portfolio__overlay">
              <p>
                Технокряк это современная площадка распространения коронавируса. Компании используют эту платформу для
                цифрового шпионажа и атак на защищённые сервера конкурентов.
              </p>
            </div>
          </div>
          <div class="portfolio__info">
            <h2 class="portfolio__title">Проект Boxes</h2>
            <p class="portfolio__text">Приложение</p>
          </div>
        </a>
      </li>
      <li class="portfolio__item">
        <a class="portfolio__link" href="">
          <div class="portfolio__box">
            <picture>
              <source
                srcset="
                  ./images/gallery/desktop/portfolio/portfolio6.webp    1x,
                  ./images/gallery/desktop/portfolio/portfolio6@2x.webp 2x
                "
                media="(min-width:1200px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/desktop/portfolio/portfolio6.jpg    1x,
                  ./images/gallery/desktop/portfolio/portfolio6@2x.jpg 2x
                "
                media="(min-width:1200px)"
                type="image/jpeg"
              />

              <source
                srcset="
                  ./images/gallery/tablet/portfolio/portfolio6.webp    1x,
                  ./images/gallery/tablet/portfolio/portfolio6@2x.webp 2x
                "
                media="(min-width:768px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/tablet/portfolio/portfolio6.jpg    1x,
                  ./images/gallery/tablet/portfolio/portfolio6@2x.jpg 2x
                "
                media="(min-width:768px)"
                type="image/jpeg"
              />

              <source
                srcset="
                  ./images/gallery/mobile/portfolio/portfolio6.webp    1x,
                  ./images/gallery/mobile/portfolio/portfolio6@2x.webp 2x
                "
                media="(max-width:767.98px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/mobile/portfolio/portfolio6.jpg    1x,
                  ./images/gallery/mobile/portfolio/portfolio6@2x.jpg 2x
                "
                media="(max-width:767.98px)"
                type="image/jpeg"
              />

              <img src="./images/gallery/mobile/portfolio/portfolio6.jpg" alt="компьютер" width="370" />
            </picture>
            <div class="portfolio__overlay">
              <p>
                Технокряк это современная площадка распространения коронавируса. Компании используют эту платформу для
                цифрового шпионажа и атак на защищённые сервера конкурентов.
              </p>
            </div>
          </div>
          <div class="portfolio__info">
            <h2 class="portfolio__title" lang="en">Inspiration has no Borders</h2>
            <p class="portfolio__text">Веб-сайт</p>
          </div>
        </a>
      </li>
      <li class="portfolio__item">
        <a class="portfolio__link" href="">
          <div class="portfolio__box">
            <picture>
              <source
                srcset="
                  ./images/gallery/desktop/portfolio/portfolio7.webp    1x,
                  ./images/gallery/desktop/portfolio/portfolio7@2x.webp 2x
                "
                media="(min-width:1200px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/desktop/portfolio/portfolio7.jpg    1x,
                  ./images/gallery/desktop/portfolio/portfolio7@2x.jpg 2x
                "
                media="(min-width:1200px)"
                type="image/jpeg"
              />

              <source
                srcset="
                  ./images/gallery/tablet/portfolio/portfolio7.webp    1x,
                  ./images/gallery/tablet/portfolio/portfolio7@2x.webp 2x
                "
                media="(min-width:768px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/tablet/portfolio/portfolio7.jpg    1x,
                  ./images/gallery/tablet/portfolio/portfolio7@2x.jpg 2x
                "
                media="(min-width:768px)"
                type="image/jpeg"
              />

              <source
                srcset="
                  ./images/gallery/mobile/portfolio/portfolio7.webp    1x,
                  ./images/gallery/mobile/portfolio/portfolio7@2x.webp 2x
                "
                media="(max-width:767.98px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/mobile/portfolio/portfolio7.jpg    1x,
                  ./images/gallery/mobile/portfolio/portfolio7@2x.jpg 2x
                "
                media="(max-width:767.98px)"
                type="image/jpeg"
              />

              <img src="./images/gallery/mobile/portfolio/portfolio7.jpg" alt="журнал" width="370" />
            </picture>
            <div class="portfolio__overlay">
              <p>
                Технокряк это современная площадка распространения коронавируса. Компании используют эту платформу для
                цифрового шпионажа и атак на защищённые сервера конкурентов.
              </p>
            </div>
          </div>
          <div class="portfolio__info">
            <h2 class="portfolio__title">Издание Limited Edition</h2>
            <p class="portfolio__text">Веб-сайт</p>
          </div>
        </a>
      </li>
      <li class="portfolio__item">
        <a class="portfolio__link" href="">
          <div class="portfolio__box">
            <picture>
              <source
                srcset="
                  ./images/gallery/desktop/portfolio/portfolio8.webp    1x,
                  ./images/gallery/desktop/portfolio/portfolio8@2x.webp 2x
                "
                media="(min-width:1200px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/desktop/portfolio/portfolio8.jpg    1x,
                  ./images/gallery/desktop/portfolio/portfolio8@2x.jpg 2x
                "
                media="(min-width:1200px)"
                type="image/jpeg"
              />

              <source
                srcset="
                  ./images/gallery/tablet/portfolio/portfolio8.webp    1x,
                  ./images/gallery/tablet/portfolio/portfolio8@2x.webp 2x
                "
                media="(min-width:768px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/tablet/portfolio/portfolio8.jpg    1x,
                  ./images/gallery/tablet/portfolio/portfolio8@2x.jpg 2x
                "
                media="(min-width:768px)"
                type="image/jpeg"
              />

              <source
                srcset="
                  ./images/gallery/mobile/portfolio/portfolio8.webp    1x,
                  ./images/gallery/mobile/portfolio/portfolio8@2x.webp 2x
                "
                media="(max-width:767.98px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/mobile/portfolio/portfolio8.jpg    1x,
                  ./images/gallery/mobile/portfolio/portfolio8@2x.jpg 2x
                "
                media="(max-width:767.98px)"
                type="image/jpeg"
              />

              <img src="./images/gallery/mobile/portfolio/portfolio8.jpg" alt="бирка" width="370" />
            </picture>
            <div class="portfolio__overlay">
              <p>
                Технокряк это современная площадка распространения коронавируса. Компании используют эту платформу для
                цифрового шпионажа и атак на защищённые сервера конкурентов.
              </p>
            </div>
          </div>
          <div class="portfolio__info">
            <h2 class="portfolio__title">Проект LAB</h2>
            <p class="portfolio__text">Маркетинг</p>
          </div>
        </a>
      </li>
      <li class="portfolio__item">
        <a class="portfolio__link" href="https://">
          <div class="portfolio__box">
            <picture>
              <source
                srcset="
                  ./images/gallery/desktop/portfolio/portfolio9.webp    1x,
                  ./images/gallery/desktop/portfolio/portfolio9@2x.webp 2x
                "
                media="(min-width:1200px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/desktop/portfolio/portfolio9.jpg    1x,
                  ./images/gallery/desktop/portfolio/portfolio9@2x.jpg 2x
                "
                media="(min-width:1200px)"
                type="image/jpeg"
              />

              <source
                srcset="
                  ./images/gallery/tablet/portfolio/portfolio9.webp    1x,
                  ./images/gallery/tablet/portfolio/portfolio9@2x.webp 2x
                "
                media="(min-width:768px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/tablet/portfolio/portfolio9.jpg    1x,
                  ./images/gallery/tablet/portfolio/portfolio9@2x.jpg 2x
                "
                media="(min-width:768px)"
                type="image/jpeg"
              />

              <source
                srcset="
                  ./images/gallery/mobile/portfolio/portfolio9.webp    1x,
                  ./images/gallery/mobile/portfolio/portfolio9@2x.webp 2x
                "
                media="(max-width:767.98px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/mobile/portfolio/portfolio9.jpg    1x,
                  ./images/gallery/mobile/portfolio/portfolio9@2x.jpg 2x
                "
                media="(max-width:767.98px)"
                type="image/jpeg"
              />

              <img src="./images/gallery/mobile/portfolio/portfolio9.jpg" alt="работа за ноутбуком" width="370" />
            </picture>
            <div class="portfolio__overlay">
              <p>
                Технокряк это современная площадка распространения коронавируса. Компании используют эту платформу для
                цифрового шпионажа и атак на защищённые сервера конкурентов.
              </p>
            </div>
          </div>
          <div class="portfolio__info">
            <h2 class="portfolio__title" lang="en">Growing Business</h2>
            <p class="portfolio__text">Приложение</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
