.nav__logo {
  display: block;
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-cl);
  text-decoration: none;

  &--black {
    color: var(--header__logo-color);
  }
}

.footer__logo {
  @extend .nav__logo;
  &--white {
    color: var(--main-cl);
  }
  
  @media screen and (max-width: 1199px){
    text-align: center;
    margin-bottom: 20px;
    margin-right: 0;
    margin-left: 0;
  }



  @media screen and (min-width: 1200px){
    margin-bottom: 20px;
  }  
}
