.header {
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;

  border-bottom: 1px solid var(--line-cl);

  @media screen and (max-width: 480px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  @media screen and (min-width: 768px){
    padding-top: 21px;
    padding-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.header__container { 
  display: flex;
  justify-content: space-between;

  @media screen and (min-width: 1200px) {
    justify-content: space-between;
    align-items: center;
  }
}

