.team {
  width: 100%;
  background-color: var(--team-button-bg);
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team_list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.team__item {
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--main-cl);
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0px;
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
 
    &:nth-child(odd){
      margin-right: 30px;
    }
    
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }
  
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 3 * 30px) / 4);
    margin-bottom: 0;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.team__info {
  padding-top: 30px;
  padding-bottom: 30px;
}
